<!-- crossfeild.component.html -->
<form [formGroup]="profileForm" >
    <table>
      <tr>
        <th><label> First Name:</label></th>
        <td><input  formControlName="firstName" /></td>
      </tr>
      <tr>
        <th> <label> Last Name:</label></th>
        <td><input formControlName="lastName" /></td>
      </tr>
      <tr>
        <th><label>Age:</label></th>
        <td>
          <input  formControlName="age" type="number" />        
          <span *ngIf="profileForm.get('age').errors?.negativeNumbers" style="color: red;">
          Please provide a valid age
        </span>
        </td>
      </tr>
      <tr>
        <th><label>Request room access</label></th>
        <td>
          <select formControlName="room">
            <option *ngFor="let room of room" [value]="room.value">
              {{ room.text }}
            </option>
        </select>
        <span *ngIf="profileForm.errors?.roomOnlyWith18"> 
              Your age should be above 18 years!!!
        </span>
        </td>
      </tr>
      <tr>          
        <td colspan="2" style="text-align: center;">
          <button  [disabled]="!profileForm.valid"  >
            Submit
          </button>
        </td>
      </tr>
    </table>
      </form>


